rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /conversations/{conversationId}/messages/{messageId} {
      allow read, write: if true;
    }
  }
}
